#main-view-header {
    padding: 10px 4%;
    display: flex;
    background-color: #33353a;
    align-items: center;

    img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border: 3px solid grey;
    }

    div {
        margin-left: 2.34567%;
        font-weight: 500;
        color: grey;
        font-size: 18px;

        &::before {
            content: '@';
            font-weight: 500;
            color: grey;
            font-size: 18px;
        }
    };
}