#main-view-header {
    padding: 10px 4%;
    display: flex;
    background-color: #33353a;
    align-items: center;

    img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border: 3px solid grey;
    }

    div {
        margin-left: 2.34567%;
        font-weight: 500;
        color: grey;
        font-size: 18px;

        &::before {
            content: '@';
            font-weight: 500;
            color: grey;
            font-size: 18px;
        }
    };
};

.main-view-navbar {
    display: flex;
    flex-direction: column;
    background-color: #292B2F;

    .main-view-navbar-component-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
    };

    .main-view-navbar-component {
        flex: 1;
        color: grey;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: capitalize;
        font-weight: bold;
        cursor: pointer;
    };

    .main-view-nav-indicator {
        width: 50%;
        height: 2px;
        background-color: grey;
        transition: 0.3s;
    }
}