.team-card-container {
    padding: 15px 3%;
    display: flex;
    align-items: center;

    #team-card-profile {
        border-radius: 25px
    };

    div {
        margin-left: 5%;
        font-weight: 500;
        color: grey;
        font-size: small;
    }
};