.team-card-container {
    padding: 15px 3%;
    margin-top: 2px;
    display: flex;
    align-items: center;
    background-color: #33353a;
    transition: 0.3s;

    &:hover {
        background-color: #424244;
    }

    #team-card-profile {
        border-radius: 25px
    };

    div {
        margin-left: 5%;
        font-weight: 500;
        color: grey;
        font-size: small;
        cursor: context-menu;
    }
};